---
layout: default
---

{% include base_path %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

<div id="main" role="main">

  <article class="splash" itemscope itemtype="http://schema.org/CreativeWork">

    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

    <section class="page__content" itemprop="text">
      {{ content }}
    </section>
  </article>

  <center>

  <div class ="notice--info">如果需要求助，可以到 <a href="https://youxijihe.com">**游戏集合**</a> 发帖求助.<br>如果各位帅哥／靓女喜欢这个向导，可以通过<a href="donations">捐助</a>施舍点服务器费用（支付宝或微信）.</b></div>

  </center>

</div>
